:root {
    --bg: rgba(22, 27, 40);
    --nav: rgba(29, 35, 51);
}

/* Body and HTML styles */
html,
body {
    background-color: var(--bg) !important;
    color: white;
}

/* Header styles */
h1 {
    font-weight: 400;
    font-size: 45px;
    width: 300px;
    color: white !important;
    margin-bottom: 42px;
}

/* Avatar styles */
.avatar {
    border-radius: 50%;
    margin-bottom: 30px;
    border: 4px solid #121212;
    max-width: 160px;
    max-height: 160px;
}

/* Container styles */
.me-container {
    margin-top: 10%;
}

/* Domain label styles */
h1 i,
p i {
    color: #00a2ff;
}

.dot {
    color: #e80860;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Bootstrap customization */
.container {
    background-color: var(--bg-light);
    min-width: 100%;
}

.dropdown-menu,
.dropdown-item {
    background-color: var(--bg-light) !important;
}

.dropdown-menu {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.dropdown-item {
    color: white !important;
    transition: background-color 0.3s;
    padding: 0.5rem 1rem;
}

.dropdown-item:hover {
    background-color: rgba(25, 28, 31, 0.9) !important;
    color: white !important;
}

.nav-link-new {
    color: rgba(0, 162, 255) !important;
}

.active {
    background-color: rgba(0, 162, 255) !important;
}

/* Project card styles */
.project-card {
    background-color: #141617;
    border: 1px solid rgba(119, 119, 119, 1);
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: fit-content;
    max-width: 20%;
    min-width: 20% !important;
    overflow: hidden;
    margin-bottom: 1% !important;
}

.title {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
}

.title a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.title a:hover {
    color: purple;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: fit-content;
}

.tag {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 3%;
    margin-right: 5%;
    font-size: small;
    white-space: nowrap
}

.tag-alt {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 3%;
    font-size: small;
    white-space: nowrap
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
    .project-card {
        max-width: 30%;
        min-width: 30% !important;
    }
}

@media (max-width: 768px) {
    .project-card {
        max-width: 40%;
        min-width: 40% !important;
    }
}

@media (max-width: 540px) {
    .project-card {
        max-width: 100%;
        min-width: 100% !important;
        padding: 10px;
    }

    .title {
        font-size: small;
        margin-bottom: 10px;
    }

    .tag {
        margin-bottom: 2%;
        margin-right: 2%;
        font-size: x-small;
    }
}

/* Code snippet styles */
.closed-source {
    background-color: rgba(244, 63, 94);
}

.open-source {
    background-color: rgb(22, 163, 74);
}

.js {
    background-color: rgba(255, 255, 0, 1);
    color: black;
}

.php {
    background-color: rgba(79, 93, 149);
    color: white;
}

.html {
    background-color: rgba(174, 61, 33);
    color: white;
}

.python {
    background-color: rgba(53, 114, 165);
    color: white;
}

.css {
    background-color: rgba(86, 61, 124);
    color: white;
}

.description {
    font-size: small;
    color: rgb(150, 150, 150);
}

/* Lines of code styles */
.lines-of-code-container {
    display: inline-flex;
    font-size: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.lines-of-code-tag {
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 500;
    background-color: #616161;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.lines-of-code-number {
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 500;
    background-color: #09af00;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Custom input and button styles */
.custom-input {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.custom-button {
    background-color: #515251;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 5% !important;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* .custom-button {
    background-color: #5865F2;
    color: #FFFFFF;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #4752C4;
}
 */

/* Info table styles */
.info-table {
    border-collapse: collapse;
}

.info-table th,
.info-table td {
    padding: 8px;
    border-bottom: 1px solid white;
}

.info-table th {
    background-color: #1a1a1a;
    color: white;
}

.info-table td {
    color: white;
}

/* Built with footer styles */
.built-with {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.built-with img {
    margin: 0 5px;
    display: inline-block;
}

.about-container {
    margin-top: 3%;
}

/* .schmandi-about {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
} */


input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type='text'],
select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
    background-color: #515251;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Container for schmandi */
.role-select-container {
    display: flex;
    gap: 2em;
    width: 100%;
    max-width: 80em;
    padding: 2em;
    border-radius: 12px;
    background-color: rgba(25, 28, 32, 0.8);
    backdrop-filter: blur(5em);
}

.role-select-container img {
    max-width: 20em;
    width: 40vw;
    height: auto;
    z-index: 5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1em 2em 0px;
}

.role-select-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.role-select-content h1 {
    text-transform: uppercase;
    opacity: 0.8;
    margin: 0;
    padding-right: 7%;
    align-self: flex-start;
}

.role-select-content span {
    font-size: 1.4rem;
    line-height: 1.5em;
    padding-right: 42%;
    font-weight: lighter;
}

.role-select-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 3%;
}

.role-select-buttons button {
    background-color: #5865F2;
    color: #FFFFFF;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.role-select-buttons button:hover {
    background-color: #4752C4;
}

@media (max-width: 40em) {
    .role-select-container {
        flex-direction: column;
        align-items: center;
    }

    .role-select-container img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .role-select-content {
        align-items: center;
        text-align: center;
    }
}

/* Click counter */
.click-count-message {
    font-size: 1rem;
    color: #f0f0f0;
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
}


@media (max-width: 767px) {
    .title {
        font-size: 1.2rem;
    }

    .click-count {
        font-size: 0.9rem;
    }
}
