ErrorDocument 404 /error_docs/not_found.html
ErrorDocument 502 /error_docs/bad_gateway.html
ErrorDocument 400 /error_docs/bad_request.html
ErrorDocument 403 /error_docs/forbidden.html
ErrorDocument 500 /error_docs/internal_server_error.html
ErrorDocument 503 /error_docs/maintenance.html
ErrorDocument 405 /error_docs/method_not_allowed.html
ErrorDocument 406 /error_docs/not_acceptable.html
ErrorDocument 501 /error_docs/not_implemented.html
ErrorDocument 412 /error_docs/precondition_failed.html
ErrorDocument 407 /error_docs/proxy_authentication_required.html
ErrorDocument 414 /error_docs/request-uri_too_long.html
ErrorDocument 401 /error_docs/unauthorized.html
ErrorDocument 415 /error_docs/unsupported_media_type.html

<Files .htaccess>
order allow,deny
deny from all
</Files>


Options All -Indexes


